Winform/finalprojectsa/Web References/categearhost/CategoryService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetAll">
        <s:complexType />
      </s:element>
      <s:element name="GetAllResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllResult" type="tns:ArrayOfCategory" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCategory">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Category" nillable="true" type="tns:Category" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Category">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID_LoaiSanPham" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="TenLoaiSanPham" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DonViTinh" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Search">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="keyword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchResult" type="tns:ArrayOfCategory" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddNew">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="c" type="tns:Category" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddNewResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddNewResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Update">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="c" type="tns:Category" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetByID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetByIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetByIDResult" type="tns:Category" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteByID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteByIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeleteByIDResult" type="tns:Category" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAllSoapIn">
    <wsdl:part name="parameters" element="tns:GetAll" />
  </wsdl:message>
  <wsdl:message name="GetAllSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllResponse" />
  </wsdl:message>
  <wsdl:message name="SearchSoapIn">
    <wsdl:part name="parameters" element="tns:Search" />
  </wsdl:message>
  <wsdl:message name="SearchSoapOut">
    <wsdl:part name="parameters" element="tns:SearchResponse" />
  </wsdl:message>
  <wsdl:message name="AddNewSoapIn">
    <wsdl:part name="parameters" element="tns:AddNew" />
  </wsdl:message>
  <wsdl:message name="AddNewSoapOut">
    <wsdl:part name="parameters" element="tns:AddNewResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateSoapIn">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="UpdateSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="GetByIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetByID" />
  </wsdl:message>
  <wsdl:message name="GetByIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetByIDResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteByIDSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteByID" />
  </wsdl:message>
  <wsdl:message name="DeleteByIDSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteByIDResponse" />
  </wsdl:message>
  <wsdl:portType name="CategoryServiceSoap">
    <wsdl:operation name="GetAll">
      <wsdl:input message="tns:GetAllSoapIn" />
      <wsdl:output message="tns:GetAllSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Search">
      <wsdl:input message="tns:SearchSoapIn" />
      <wsdl:output message="tns:SearchSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddNew">
      <wsdl:input message="tns:AddNewSoapIn" />
      <wsdl:output message="tns:AddNewSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input message="tns:UpdateSoapIn" />
      <wsdl:output message="tns:UpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetByID">
      <wsdl:input message="tns:GetByIDSoapIn" />
      <wsdl:output message="tns:GetByIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteByID">
      <wsdl:input message="tns:DeleteByIDSoapIn" />
      <wsdl:output message="tns:DeleteByIDSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CategoryServiceSoap" type="tns:CategoryServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAll">
      <soap:operation soapAction="http://tempuri.org/GetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Search">
      <soap:operation soapAction="http://tempuri.org/Search" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNew">
      <soap:operation soapAction="http://tempuri.org/AddNew" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByID">
      <soap:operation soapAction="http://tempuri.org/GetByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteByID">
      <soap:operation soapAction="http://tempuri.org/DeleteByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CategoryServiceSoap12" type="tns:CategoryServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAll">
      <soap12:operation soapAction="http://tempuri.org/GetAll" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Search">
      <soap12:operation soapAction="http://tempuri.org/Search" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNew">
      <soap12:operation soapAction="http://tempuri.org/AddNew" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap12:operation soapAction="http://tempuri.org/Update" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByID">
      <soap12:operation soapAction="http://tempuri.org/GetByID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteByID">
      <soap12:operation soapAction="http://tempuri.org/DeleteByID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CategoryService">
    <wsdl:port name="CategoryServiceSoap" binding="tns:CategoryServiceSoap">
      <soap:address location="http://finalprojectsa.gear.host/CategoryService.asmx" />
    </wsdl:port>
    <wsdl:port name="CategoryServiceSoap12" binding="tns:CategoryServiceSoap12">
      <soap12:address location="http://finalprojectsa.gear.host/CategoryService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>